.LanguagesItem {
  height: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: black;
}

.LanguagesItem__image {
  height: 75px;
}

.LanguagesItem__name {
  margin-top: 10px;

  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
}

@media (min-width: 992px) {
  .LanguagesItem__image {
    height: 85px;
  }
}

@media(min-width: 1200px) {
  .LanguagesItem__image {
    height: 100px;
  }
}
