.Navbar {
  margin: 20px 0;
  font-size: 1.5rem;
}

.Navbar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Navbar__logo,
.Navbar__title {
  font-size: inherit;
}

.Navbar__title {
  margin: 10px 15px;
  font-weight: normal;
}

@media (min-width: 576px) {
  .Navbar {
    font-size: 2rem;
  }

  .Navbar__link {
    flex-direction: row;
  }

  .Navbar__title {
    margin-top: 0 15px;
  }
}

@media (min-width: 768px) {
  .Navbar__link {
    margin: 0;
    justify-content: flex-start;
  }
}
