.AuthorContainer {
  width: 100%;
  height: 100%;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthorContainer__name,
.AuthorContainer__link-icon {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthorContainer__name {
  font-size: 1.25rem;
}

.AuthorContainer__link-icon {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .AuthorContainer__name {
    font-size: 2rem;
  }
  
  .AuthorContainer__link-icon {
    font-size: 3rem;
  }  
}

.AuthorContainer__avatar {
  width: 100%;
}
