.Repository {
  width: 85%;
  margin: 0 auto;
}

.Repository__name-lang__link {
  margin: 0 -15px;
}

.Repository__description {
  margin: 20px -15px;
  padding: 20px 10px;
  font-size: 1.3rem;
}

.Repository__name-lang {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .Repository__name-lang {
    font-size: 1.5rem;
  }  
}

@media (min-width: 992px) {  
  .Repository__stars,
  .Repository__watchers,
  .Repository__issues,
  .Repository__forks {
    font-size: 1.5rem;
  }  
}
